<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet/less" type="text/css" href="css/style.less" /> -->
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/all.js' %}"></script>
    <!--[if IE 6]>
    <script src="./js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
       EvPNG.fix('div, ul, img, li, input,span, p');
    </script>
    <![endif]-->
</head>
<body>
<!-- header start -->
<div class="zxcf_top_wper">
	<div class="zxcf_top px1000 clearfix">
		 <div class="zxcf_top_l fl">
		    <img src="{% static 'images/zxcf_phone.png' %}" alt="">
		    400-027-0101(工作时间9:00-17:30)
		    <a href="#"><img src="{% static 'images/zxcf_weixin.png' %}" alt=""></a>
		    <a href="#"><img src="{% static 'images/zxcf_sina.png' %}" alt=""></a>
		    <a href="#"><img src="{% static 'images/zxcf_qq.png' %}" alt=""></a>
		 </div>
		 <div class="zxcf_top_r fr">
		 	<a href="SDF_login.html" class="curspan">立即登录</a>
		 	<span>|</span>
		 	<a href="SDF_register.html">免费注册</a>
		 	<span>|</span>
		 	<a href="#">常见问题</a>
		 </div>
	</div>
</div>
<!-- end top -->
<div class="zxcf_nav_wper">
	<div class="zxcf_nav clearfix px1000">
		 <div class="zxcf_nav_l fl"><img src="{% static 'images/log4.png' %}" alt=""></div>
		 <div class="zxcf_nav_r fr">
		 	<img src="{% static 'images/zxcf_perinfo.png' %}" alt="">
		 	<span>我的账户
		 	<img src="{% static 'images/zxcf_icon01.png' %}" alt=""></span>
		 	<ul class="zxcf_perinfo" style="display:none;">
		 		<li><a href="#">111</a></li>
		 		<li><a href="#">111</a></li>
		 		<li><a href="#">111</a></li>
		 	</ul>
		 </div>
	</div>
</div>
<div class="zxcf_menu_wper">
	<div class="zxcf_menu px1000">
		  <a href="#" class="zm_cura">首页</a>
		  <a href="#">公司股票概况</a>
		  <a href="#">我要登录</a>
		  <a href="#">我要注册</a>
		  <a href="#" style="margin-right:0;">关于我们</a>
	</div>
</div>
<!-- end  -->
<div class="notic_con_wper">
	  <div class="notic_con px1000">
	  	     <div class="notic_ban">
	  	     	 <img src="{% static 'images/notic_ban10.png' %}" alt="">
	  	     </div>
	  	     <div class="notic_section clearfix">
	  	     	  <div class="notic_sec_l fl">
	  	     	  	  <h3><img src="{% static 'images/notic_pic01.png' %}" alt=""></h3>
	  	     	  	  <ul class="notic_secl_ul">
	  	     	  	  	   <li class="notic_curli">个股走势 </li>
	  	     	  	  	   <li>折线图 </li>
	  	     	  	  	   <li>树状图</li>
	  	     	  	  	   <li>投资与还款 </li>
	  	     	  	  	   <li>充值与提现 </li>

	  	     	  	  </ul>
	  	     	  </div>
	  	     	  <!-- end l -->
	  	     	  <div class="notic_sec_r fl">
	  	     	  	     <div class="helpconright">

	   	     	  </div>
	  	     	  </div>
	  	     </div>
	  </div>
</div>
</body>
</html>